.plus {
    padding: .5rem;
    font-size: 4rem;
    cursor: pointer;

    &__svg {
        color: $hunter-green;
    }
}

.header {
    height: $header-height;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $comfortaa;
    text-transform: uppercase;
    box-shadow: 0 5px 10px #eaeaea;
}