// Media Queries
$mobile-ultrasmall: 350px;
$mobile-small: 400px;
$mobile: 640px;
$below-tablet: 768px;
$tablet: 768px;
$below-desktop: 1023px;
$desktop: 1024px;
$laptop: 1280px;
$ultrabook: 1366px;
$below-wide: 1439px;
$wide: 1440px;
$short: 800px;

/* color palette */
$black: #000;
$white: #FFF;
$midnight-blue: #18206F;
$space-cadet: #17255A;
$champagne: #F5E2C8;
$ny-pink: #D88373;
$cornell-red: #BD1E1E;
$hunter-green: #33673B;


/* font sizes */
$font-size-small: 1.5rem;
$font-size-normal: 2rem;
$font-size-large: 3rem;

/* font families */
$rubik: 'Rubik', sans-serif;
$comfortaa: 'Comfortaa', cursive;

/* layout */
$header-height: 70px;