// Media Queries
$mobile-ultrasmall: 350px;
$mobile-small: 400px;
$mobile: 640px;
$below-tablet: 768px;
$tablet: 768px;
$below-desktop: 1023px;
$desktop: 1024px;
$laptop: 1280px;
$ultrabook: 1366px;
$below-wide: 1439px;
$wide: 1440px;
$short: 800px;

/* color palette */
